<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="css/finish.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Serial Position Effect</title>
    </head>
    <body>
        <div class="container">
            <h1  id="heading">Result</h1>
            <h3 id="message"></h3>
            <h3 id="percentage"></h3>
            <div id="table">

            </div>
            <div id="restart">
                <a href="/"><button > Restart </button></a>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="js/finish.js"></script>
</html>