<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Serial Position Effect</title>
    </head>
    <body>
        <div class="container">
            <header class="heading">
               <h1>Serial Position Effect</h1>
            </header>
            <div class="rules">
                <h2 style="color: #9A1750;">Instructions:</h2>
                <ol>
                    <li><h3>On the Next Screen, you will be shown a list of Animals.</h3></li>
                    <li><h3>You will be given 8 seconds time to remember the list of animals</h3></li>
                    <li><h3>Try to remember the names visually and mentally</h3></li>
                    <li><h3>A timer will display the time elapsed</h3></li>
                    <li><h3>Once the time ends, you have to recall the animal names</h3></li>
                    <li><h3>Click on the START button</h3></li>
                </ol>
            </div>
            <div id="start">
                <a href="/remember"><button onclick="send()"> START </button></a>
            </div>
            
        </div>
    </body>
    <script type="text/javascript" src="js/animals.js"></script>
</html>