<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="css/recall.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Serial Position Effect</title>
    </head>
    <body>
        <div class="container">
            <div class="heading">
                <h1>Select the animals from the below list</h1>
            </div>
                <h3 style="text-align: center;">Try to remember the animals list that were present on the previous screen</h3>
            <div id="table">

            </div>
            <div id="done">
                <a href="/finish"><button onclick="send()"> Done </button></a>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="js/recall.js"></script>

</html>