<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="css/remember.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Serial Position Effect</title>
    </head>
    <body>
        <div class="Container">
            <div id="header">
                <h2> Try to remember the following animals:</h2>
            </div> 
            <div id="time">
                <p id="showTime"></p>
            </div>      
            <div id="table">

        </div>
    </body>
    <script type="text/javascript" src="js/remember.js"></script>
</html>